# Fly.io configuration for sys_design_wiz
app = 'sys-design-wiz'
primary_region = 'ord'

[build]

[env]
  PHX_HOST = 'sys-design-wiz.fly.dev'
  PHX_SERVER = 'true'

[http_service]
  internal_port = 4000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
